<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Original Avatar</th>
      <th>Thumbnail Avatar</th>
      <th>Resume Filename</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
    <!-- display the avatar in both the original size and the thumbnail size -->
    <td><%= image_tag user.avatar.url %></td>
    <td><%= image_tag user.avatar.url(:thumb) %></td>
    
    <!-- show the filename for the resume -->
        <td><%= user.resume_file_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<style type="text/css">
  table, th, td {
    border: 1px solid
  }
</style>
